name: incremental ci_cd

on:
  push:
    branches:
      - main    

jobs:
  run-incremental:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: '3.8'

      - name: install dbt
        run: |
          pip install dbt-snowflake

    # set snowflake environment variables
      - name: set environment variables
        run: |
          echo "SF_ACCOUNT=${{ secrets.SF_ACCOUNT }}" >> $GITHUB_ENV
          echo "SF_USER=${{ secrets.SF_USER }}" >> $GITHUB_ENV
          echo "SF_PASSWORD=${{ secrets.SF_PASSWORD }}" >> $GITHUB_ENV
          echo "DBT_PROFILES_DIR=." >> $GITHUB_ENV

    # dbt debug to test snowflake connection
      - name: dbt debug
        run: dbt debug --profiles-dir .

    # run dbt models
      - name: dbt run
        run: dbt run --profiles-dir .

    # dbt tests
      - name: dbt test
        run: dbt test --profiles-dir .

    # dbt docs
      - name: dbt docs generate
        run: dbt docs generate --profiles-dir .